name: Deploy MultiDocker
on:
  push:
    branches:
      - main # check your repo, your default branch might be master!

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker build -t smz/react-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true smz/react-test npm test

      - name: Build and push Docker image to DockerHub
        uses: docker/build-push-action@v2
        with:
          context: ./client
          push: true
          tags: smz/multi-client:v1
